h1 {
    color: red;
}

.titulillo {
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
}

#jaja {
    font-weight: bolder;
    font-style: italic;
}

#cachula {
    color: aquamarine;
    background-color: black;
}

div>p {
    color: navy;
}

p:hover {
    color: red;
}